/* HomeRight */
.home-right {
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: pink; */
}

.home-right-top {
  /* background-color: lightblue; */
  height: 25%;
}

.home-right-notice {
  height: 20%;
  font-size: 1.5rem;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
}

.home-right-content {
  /* background-color: red; */
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-right-notice-content {
  width: 50%;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.home-right-pageSummary {
  width: 45%;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  /* background-color: pink; */
}

.home-right-notice-detail {
  /* background-color: lightgreen; */
  height: 70%;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
