/* ==================== 왼쪽 ==================== */

.jukboxLeft {
  display: flex;
  flex-direction: column;
}

.playlistName {
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-radius: 1rem;
}

/* ==================== 오른쪽 ==================== */

.jukboxRight {
  height: 100%;
  /* background-color: pink; */
  padding: 10px;
  overflow-y: auto;
}

.music__table {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.music-play-all {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-left: 1.7rem;
  padding-bottom: 1rem;
}

.music-play-all button {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
}

.music-play-all button:hover {
  cursor: pointer;
}

.music-play-all button:active {
  color: #6e2c17;
}

.music-row-header {
  background-color: lightgray;
}

.music-render {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: dotted;
  padding: 5px;
}

.music-render div {
  display: flex;
  justify-content: center;
}

.music-render button:hover {
  cursor: pointer;
}

.music-render button:active {
  color: #6e2c17;
}

.music-render > div:nth-child(1) {
  width: 5%;
  /* background-color: red; */
}
.music-render > div:nth-child(2) {
  width: 5%;
  /* background-color: orange; */
}
.music-render > div:nth-child(3) {
  width: 50%;
  /* background-color: yellow; */
}
.music-render > div:nth-child(4) {
  width: 25%;
  /* background-color: green; */
}
