* {
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  padding: 3% 5% 3% 15%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}

.outerBlue {
  width: 100%;
  height: 100%;
  background-color: #55b2d4;
  border: 2px solid;
  border-radius: 15px;
  padding: 15px;
}

.whiteSolid {
  width: 100%;
  height: 100%;
  border: 2px dashed lightgray;
  border-radius: 15px;
  padding: 10px;
}

.outerbox {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 15px;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0.3%;
}

.wrapper__left {
  width: 20%;
  height: 100%;
  /* background-color: lightgray; */
}

.main__left {
  height: 100%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-right: 5px;
  /* background-color: red; */
}

.wrapper__right {
  width: 80%;
  height: 100%;
  /* background-color: lightblue; */
}

.main__right {
  height: 100%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  /* background-color: blue; */
}

/* 네이게이션바 */
.navigation {
  width: 72px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 334px;
  top: 100px;
}

.navigation__item {
  width: 60px;
  height: 45px;
  background-color: #298eb5;
  border: 1px solid black;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.active {
  color: black;
  background-color: white;
}

/* 사이드 */
.side {
  width: 20%;
  /* background-color: pink; */
  padding: 10px 10px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.music {
  height: 15%;
  /* background-color: red; */
  /* border: 1px solid; */
  border-radius: 15px;
  padding: 10px;
}

.weather {
  margin-top: 150px;
  height: 35%;
  /* background-color: darkslategrey; */
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
}

.time {
  height: 10%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
}

/* geo */
.geolocation span {
  font-size: 30px;
}

.linkto {
  background-color: lightpink;
}

/* SideMusic */
.sideMusic {
  height: 100%;
  background-color: lightblue;
}

.sideMusic-music-info {
  background-color: pink;
  height: 60%;
}

.sideMusic-title {
  height: 60%;
  /* background-color: red; */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */

  /* overflow: hidden;
  position: relative;
  white-space: nowrap; */
}

/* .slide-text {
  position: absolute;
  animation: slideText 10s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-110%);
  }
} */

.sideMusic-time {
  height: 40%;
  background-color: yellow;
}

.sideMusic-control-btn {
  background-color: gray;
  height: 40%;
}

.sideMusic-youtube {
  background-color: green;
  height: 10%;
}
