* {
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  padding: 3% 5% 3% 15%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}

.outerBlue {
  width: 100%;
  height: 100%;
  background-color: #55b2d4;
  border: 2px solid;
  border-radius: 15px;
  padding: 15px;
}

.whiteSolid {
  width: 100%;
  height: 100%;
  border: 2px dashed lightgray;
  border-radius: 15px;
  padding: 10px;
}

.outerbox {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 15px;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0.3%;
}

.wrapper__left {
  width: 20%;
  height: 100%;
  /* background-color: lightgray; */
}

.main__left {
  height: 100%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-right: 5px;
  /* background-color: red; */
}

.wrapper__right {
  width: 80%;
  height: 100%;
  /* background-color: lightblue; */
}

.main__right {
  height: 100%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  /* background-color: blue; */
}

/* 네이게이션바 */
.navigation {
  width: 72px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 377px;
  top: 100px;
}

.navigation__item {
  width: 60px;
  height: 45px;
  background-color: #298eb5;
  border: 1px solid black;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.active {
  color: black;
  background-color: white;
}

/* 사이드 */
.side {
  width: 20%;
  /* background-color: pink; */
  padding: 10px 10px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.music {
  height: 15%;
  /* background-color: red; */
  /* border: 1px solid; */
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: whitesmoke;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.weather {
  margin-top: 150px;
  height: 35%;
  /* background-color: darkslategrey; */
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
}

.time {
  height: 10%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
}

/* geo */
.geolocation span {
  font-size: 30px;
}

.linkto {
  background-color: lightpink;
}
