.sideMusic {
  height: 100%;
  border-radius: 1rem;
  background-color: whitesmoke;
}

.sideMusic-songinfo {
  height: 40%;
}
.flow-text {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: bold;
}
.flow-text:hover {
  color: #9d9993;
}
.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.flow-wrap {
  animation: textLoop 10s linear infinite;
  padding-right: 3vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.sideMusic-mid {
  height: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sideMusic-control-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideMusic-control-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  background: none;
  color: black;
}
.sideMusic-control-btn button:hover {
  cursor: pointer;
  font-size: 2rem;
  color: black;
}

.sideMusic-control-btn button:active {
  color: #6e2c17;
}

.sideMusic-control-btn button:disabled {
  color: gray;
  pointer-events: none;
}

.sideMusic-volume {
  height: 25%;
}

.sideMusic-reactPlayer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.react-player {
  border-radius: 1rem;
}

.btn-active {
  color: #6e2c17;
  fill: #7a4c3e;
}
