.mobile-music {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #ffcccc, #ff99cc);
}

/* top */
.top {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playing-list {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cm-music {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 800;
}

.volume {
  width: 15%;
  display: flex;
  align-items: center;
}

/* body */
.body {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.song-info {
  height: 70%;
  border: 1px solid black;
}

.img {
  height: 80%;
  border: 1px solid black;
}

.title {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.artist {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.controls {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.play-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.time-start {
  display: flex;
  justify-content: center;
  width: 10%;
}

.play-bar-range {
  width: 80%;
}

.time-end {
  display: flex;
  justify-content: center;
  width: 10%;
}

.btns {
  height: 50%;
}

/* footer */
.footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
